extend layout

block content
   a(href="/tournament/#{tid}") &#8656; Back
   h2 #{playerName1} (#{charName1}) vs #{playerName2} (#{charName2})
   p.lead
      if winner == pid1 
         span Winner: <span class="success">#{playerName1}</span><br>
      else
         span Winner: <span class="success">#{playerName2}</span><br>
      span Score: #{score}<br>
      span Time: #{time} min
