extend layout

block content
   a(href="/tournament/#{tid}") &#8656; Back
   h2 #{playerName1} (#{charName1}) vs #{playerName2} (#{charName2})
   p.lead
      if winner == pid1 
         span Winner: <span class="success">#{playerName1}</span><br>
      else
         span Winner: <span class="success">#{playerName2}</span><br>
      span 

   h3 Recent Matches
   table.table
      thead
         tr
            th Tournament
            th Opponent
            th Character
            th Outcome
      tbody
         tr 
            td
               a(href="/bracket/123") Some Tournament
            td
               a(href="/player/123") Brad Smith
            td
               a(href="/character/123") Fox
            td Won