extend layout

block content
   h2= name

   p.lead
      | Wins: <span class="success">#{wins}</span>, Losses: <span class="failure">#{losses}</span><br>
      | Favorite Character: #{charName}

   h3 Tournaments
   table.table
      thead
         tr
            th Tournament Name
      tbody
         each tourney in tournaments
            tr 
               td 
                  a.capitalize(href="/tournament/#{tourney.tid}") #{tourney.name} Tournament