extend layout

block content
   h2.capitalize= name

   .bracket-column.one
      each player, index in level1
         .bracket-entry
            if player.pid == 1
               span.na N/A
            else
               .player
                  a(href="/player/#{player.pid}") #{player.name} (#{player.character})
            if index % 2 == 1
               a.match-outcome(class="#{player.hasPlayed ? 'complete': ''}", href="/match/#{player.mid}")

   .bracket-column.two
       each player, index in level2
         .bracket-entry
            if player.pid == 1
               span.na N/A
            else
               .player
                  a(href="/player/#{player.pid}") #{player.name} (#{player.character})
            if index % 2 == 1
               a.match-outcome(class="#{player.hasPlayed ? 'complete': ''}", href="/match/#{player.mid}")

   .bracket-column.three
       each player, index in level3
         .bracket-entry
            if player.pid == 1
               span.na N/A
            else
               .player
                  a(href="/player/#{player.pid}") #{player.name} (#{player.character})
            if index % 2 == 1
               a.match-outcome(class="#{player.hasPlayed ? 'complete': ''}", href="/match/#{player.mid}")

   .bracket-column.four
       each player, index in level4
         .bracket-entry
            if player.pid == 1
               span.na N/A
            else
               .player
                  a(href="/player/#{player.pid}") #{player.name} (#{player.character})
            if index % 2 == 1
               a.match-outcome(class="#{player.hasPlayed ? 'complete': ''}", href="/match/#{player.mid}")
   .bracket-column.five
      .bracket-entry
         if winner
            .player
               a(href="/player/#{winner.pid}") #{winner.name} (#{winner.character})
         else
            span.na N/A
